body{
	background-color: #34ace0;
}
.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	grid-auto-rows: auto;
	grid-template-rows: 
}

#main {
	padding-top: 35px;
}

#nav ul {
list-style-type: none;
margin: 0;
padding: 0;
top: 0;
left: 0;
overflow: hidden;
background-color: #34495e;
width: 100%;
position: fixed;
}

#nav li {
height: 40px;
line-height: 40px;
float: left;
}

#nav li a {
display: block;
color: #fff;
padding: 8px 16px;
text-decoration: none;
}

#nav li a:hover {
background-color: #111;
}

#name {
	grid-column: 1/3;
	text-align: center;
	grid-row: 1;
	color: #30336b;
	background-color: white;
}
h1{
	font-family: 'Permanent Marker';
	font-size:72px;
}
h2{
	color: #30336b;
	font-family: 'Permanent Marker';
}
p{
	color: white;
}
}
